body {
    font-family: sans-serif;
}

#instructions {
    background-color: rgb(231, 16, 34);
    padding: 6px;
    margin: 6px;
}

#orderForm {
    width: 75%;
    margin: 20px auto;
}

#receipt {
    background-color: #26276b;
    color: rgb(0, 217, 255);
    padding: 6px;
}